@use "../utilities/variable" as *;
@use "../utilities/mixins" as *;

@media (max-width: 360px) {
  /* Header */

  .nombre-empresa {
    font-size: 28px;
    line-height: 1.4;
  }
  .productos-empresa {
    font-size: 14px;
  }
  .caja-titulo-header {
    top: 90px;
  }
  /* Barra principal */
  .barra-principal {
    height: 6.5vh;
  }
  .navbar-nav .nav-link {
    font-size: 12px;
    padding: 3px;
  }
  .navbar-toggler {
    margin-left: 60%;
  }
  /* Redes header */
  .enlaces-redes-logo {
    left: 10px;
    gap: 2px;
  }
  .enlaces-redes-logo a img {
    width: 35px;
    height: 35px;
  }
  /* Carrito */
  .contenedor-ingreso-compras {
    left: 60%;
  }
  .contenedor-ingreso-compras p,
  .contenedor-ingreso-compras h3 {
    font-size: 10px;
  }
  .boton:hover {
  width: auto;
  border-radius: 35px;
}
.boton:hover .sign {
  width: 35%;
  padding-left: $padding-principal;
}
.boton:hover .text {
  opacity: 0;
  width: 100%;
  padding-right: $padding-principal;
}
.boton:active {
  transform: none;
}
  /* Cards productos */
  .caja-producto img {
    max-height: 180px;
  }
  .caja-producto h4 {
    font-size: 35px;
  }
  /* Títulos páginas */
  .titulo-empresa-guitarras h1,
  .titulo-empresa-bajos h1,
  .titulo-empresa-amplificadores h1 {
    font-size: 42px;
    line-height: 1.3;
  }
  .main-index {
    margin-top: 50px;
  }

  /* Productos ---------------- */
.nombre-empresa-individual {
    font-size: 25px;
  }

.caja-producto-individual h4 {
    font-size: 25px;
  }
.precio-individual{
    right:  5%;
    top: 35%;
    width: 20%; 
}
.caja-producto-individual p {
    font-size: 25px;
     padding: 2px;
  }
  .caja-producto-individual a {
    font-size: 15px;
    padding: 2px;
  }
  /* Footer */
  .contenedor-footer {
    padding: 0;
    gap: 0;
  }
  .caja-redes {
    gap: 0;
  }
  .caja-redes a {
    font-size: 13px;
  }
  .caja-redes img {
    width: 40px;
    height: 40px;
  }
  .caja-redes li {
    gap: 0;
    font-size: 11px;
    padding: 0;
  }
  .caja-redes-logo {
    font-size: 12px;
  }
  .caja-redes-logo img {
    width: 45px;
    height: 45px;
  }
  .hr-linea {
    padding: 0;
  }
  /* Whatsapp logo */
  .whatsapp-logo {
    right: 25px;
  
  }
  .whatsapp-logo img {
    width: 45px;
    height: 45px;
  }
  .whatsapp-logo:hover {
    transform: none;
  }
}
