@use "../utilities/variable" as *;
@use "../utilities/mixins" as *;

@media (max-width: 500px) {
header{
    height: 150px;
}
.caja-titulo-header{
    top: 100px;
}
.titulo-empresa-inicio {  
    width: 100%;
    height: 180px; 
}
.nombre-empresa {
    font-size: 55px;
    line-height: 1.4;
    height: auto;
}
.productos-empresa {
    font-size: 20px; 
    }
/* -------------Barra principal ---------------- */
.barra-principal {
    height: 8vh; 
}
.navbar-nav .nav-link {
    font-size: 20px;
    padding: $padding-principal;
    
    background-color: $color-cuarto;
  }
.d-flex button {
    background-color: $bg-principal;
  } 
.navbar-toggler {
    margin-left: 80%;
  }
.titulo-barra{
    position:absolute;
    left: 30%;
    top: 50%;
    height: 35px;
    font-family: fuenteruthligos;
    color: $color-principal; 
}
/* Redes header */
.enlaces-redes-logo {
   @include flex;
    gap: 12px;
    top: 25px;
    left: 40px;     
}
.enlaces-redes-logo a img {
    width: 40px;
    height: 40px;
}
/* carrito header */
.contenedor-ingreso-compras {
     left: 66%;
     text-align: center;
    
    }
.contenedor-ingreso-compras p{
    font-size: 12px;
    line-height: 1.5;
    }
.contenedor-ingreso-compras h3{
    text-decoration: underline;
    font-size: 12px;
    position: absolute;
    right: 25px;
    top: 30px;

    }
.caja-compras{
    gap: 10px;
    margin: 10px;
}
.caja-compras a img {
    width: 35px;
    height: 35px;
    }

.boton:hover {
    width: 35px;
    border-radius: 50%;
  }
.boton:hover .sign {
    width: 100%;
    padding-left: 0;
  }
.boton:hover .text {
    opacity: 0;
    width: 0;
    padding-right: 0;
  }
.registro {
    position: absolute;
    right: 35px;
    top:  120px;
  }
/* index guitarras */
.main-index{
        margin-top: 0px;
    }
.main-guitarras h2 {
        font-size: 25px;   
    }
.contenedor-productos {
        flex-direction: column;
        padding: 0;
        margin: 0;       
    }
.caja-producto {
        width: 100%;
        margin: 0;
        padding: 15px;
        transition: none;
    }
.caja-producto:hover{
    transform: none
}
.caja-producto img {
        width: 100%;
        height: auto;
        max-height: 220px;
    }
.caja-producto h4 {
        font-size: 45px;
        margin: 10px 0;
    }
.caja-producto h5 {
        font-size: 14px;
    }

/*---- Footer----- */
footer{
    height: 500px;

}
.contenedor-footer{
    display: flex;
    flex-direction: column;
    height: 200px;

}
.caja-redes{
    height: 200px;
    margin: 0;
}
.caja-redes a{
    flex-direction: row;
    text-align: center;
    margin: 0;
    gap:0;    
}
.caja-redes img {
        width: 50px;
        height: 50px;
        gap: 0;      
    }
.caja-redes p {
        font-size: 14px;
        text-align: center;
    }
.caja-redes-logo { 
        font-size: 16px;
        margin: 0;
        padding-right: 12%;
        height: 200px; 
        text-align: center;
    }
.caja-redes-logo img {
        width: 60px;
        height: 60px;
    }
/*----- Página Guitarras eléctricas------------------------  */

.guitarras-fondo{
    margin-top: 40px;
}
.titulo-empresa-guitarras{
    height: 180px;  
}
.titulo-empresa-guitarras h1 { 
    font-size: 55px;
    line-height: 1.7;
    }
.nombre-productos-guitarras{
   padding: $padding-principal;
}
.nombre-productos-guitarras span{
    @include flex;
    align-items: center;
}
.contenedor-productos-guitarra {
   width: 90%;
} 
.caja-producto-guitarra {
    margin: 8px;
    padding: 10px;
    transition: none
} 
.caja-producto-guitarra:hover{
    transform: none;   
}

.caja-producto-guitarra h4 {
        font-size: 40px;
    }
.caja-producto-guitarra h5 {
        font-size: 12px;
    }
/* Página Bajos ------------------ */
.bajos-fondo{
    margin-top: 40px;
}

.titulo-empresa-bajos {
        text-align: center;
        padding: $padding-principal;
        height: 180px;     
    }
.titulo-empresa-bajos h1 {
    font-size: 55px;
    line-height: 3;

    }
/* Página Amplificadores ------------------ */
.ampli-fondo {
    margin-top: 40px;
}
.titulo-empresa-amplificadores{
    height: 180px;
}
.titulo-empresa-amplificadores h1 {
    font-size: 55px;
    line-height: 2.2; 
    }
.caja-producto-amplificador h4{
   font-size: 40px;
}
.caja-producto-amplificador {
    margin: 20px;
    padding: 5px;
    transition: none;
    right: 20px;
    gap: 2px;
} 
.caja-producto-amplificador:hover{
    transform: none;   
}
.caja-producto-amplificador img {
    width: 250px;
    height: 250px;
} 

/* Página Contactanos----------------- */
.main-contactanos{
    margin-top: 25px;
}
.titulo-empresa-contactanos{
    height: 180px;
}
.titulo-empresa-contactanos h1 {
    font-size: 55px;
    line-height: 3; 
    }
.contactos-cajas {
        grid-template-columns: 1fr;
    }
.contactos-informacion,
.contactos-formulario {
        padding: 15px;
    }
/* Página Redes Sociales---------------- */
.contenedor-redessociales{
    margin-top: 50px;
}
.titulo-empresa-redessociales{
    height: 180px;
}
.titulo-empresa-redessociales h1 {
    font-size: 55px;
    line-height: 3;  
    }
.caja-producto-redes {
        padding: 18px;
    }
.información-redes {
        font-size: 1rem;
    }
/* Carrusel de fotos ------------ */
.carrusel {
    width: 95%;
    left: 10px;
  }
  .carousel-item img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: contain;
  }
/* Fila Final ---------------- */
.fila-final {
        font-size: 13px;
        padding: 15px 10px;
    }
/* Productos ---------------- */
.nombre-empresa-individual {
    font-size: 35px;
  }
.enlaces-redes-individual{
    right: 0;
}
.enlaces-redes-individual img{
    height: 45px;
}
.caja-producto-individual {
    margin: 8px;
    padding: 8px;
  }
.caja-producto-individual h4 {
    font-size: 30px;
  }
.precio-individual{
    right:  5%;
    top: 35%;
    width: 20%; 
}
.caja-producto-individual p {
    font-size: 25px;
     padding: 5px;
  }
  .caja-producto-individual a {
    font-size: 18px;
    padding: 5px;
  }
/* Logo Whatapp ---------------- */
.whatsapp-logo {
    right: 12%;
}
.whatsapp-logo img {
    width: 50px;
    height: 50px;
}
.whatsapp-logo:hover {
    transform: none;
}
}


