$color-principal: goldenrod;
$color-secundario: rgb(153, 116, 24);
$color-tercero: white;
$color-cuarto: black;
$color-quinto: green;
$color-sexto:#ccc;
$color-septimo:red;
$color-octavo:rgb(135, 197, 251);

$color-letra:rgb(76, 67, 169);
$color-letrados:rgb(42, 138, 170);
$color-letratres:rgb(45, 45, 114);

$bg-principal: black;
$bg-secundario: transparent;
$bg-tercero: rgb(87, 192, 241);
$bg-cuarto:white;
$bg-quinto: green;
$bg-sexto: #f5f5f5;
$bg-productos:linear-gradient(90deg,rgba(41, 41, 51, 1) 0%, rgba(76, 67, 169, 1) 50%, rgb(224, 217, 195) 100%);
$bg-linea: rgb(85, 9, 77);
$bg-contacto: radial-gradient(rgba(54, 59, 70, 0.75), rgba(5, 7, 12, 0.75));

$bradius: 10px;
$padding-principal:10px;