@font-face {
    font-family: fuenteyellow;
    src: url(../tipos-de-letras/Yellowtail/Yellowtail-Regular.ttf)
}

@font-face {
    font-family: fuentedarkcollege;
    src: url(../tipos-de-letras/dark_college/Dark\ College.otf);
}

@font-face {
    font-family: fuentecodiment;
    src: url(../tipos-de-letras/Condiment/Condiment/Condiment-Regular.ttf);
}

@font-face {
    font-family: fuenteracing;
    src: url(../tipos-de-letras/Racing_Sans_One/RacingSansOne-Regular.ttf);
}
